footer.attribution {
  font-size: 11px;
  text-align: center;
}
footer.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: "Overpass";
  src: url("fonts/Overpass-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Overpass-regular";
  src: url("fonts/Overpass-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Overpass", sans-serif;
}

h2 {
  font-family: "Overpass-regular";
  margin: 5px 0;
}

p {
  font-size: 15px;
  line-height: 1.5;
  color: hsl(217, 12%, 63%);
  width: 80%;
  margin: 15px 0;
}

body {
  background-color: hsl(216, 12%, 8%);
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

div.container {
  width: 55vh;
  background-color: hsl(213, 19%, 18%);
  border-radius: 18px;
  padding: 35px;
  margin: 50% auto;
}

div.inputs{
    display: inline-grid;
    width: 100%;
    grid-auto-flow: column;
    justify-content: space-between;
}

button {
  background-color: hsl(25, 97%, 53%);
  border: none;
  border-radius: 18px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin: 15px 0px 0px 0px;
  letter-spacing: 1.5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(37, 45, 55, 0.15);
}
