/* Estilos presentes somentes na pagina de avaliação */

div.container-index {
  min-width: 350px;
  max-width: 400px;
  width: 45vh;
  background-color: hsl(213, 19%, 18%);
  border-radius: 18px;
  padding: 35px;
}

div.icone-estrela button {
  color: hsl(217, 12%, 63%);
  background-color: hsl(217, 9%, 29%);
  border-radius: 26px;
  border: none;
  width: 52px;
  height: 52px;
  margin-bottom: 15px;
}

div.notas {
  display: inline-grid;
  width: 100%;
  grid-auto-flow: column;
  justify-content: space-between;
}

button.nota {
  font-size: 17px;
  font-weight: bolder;
  color: hsl(217, 12%, 63%);
  text-align: center;
  background-color: #434851;
  border-radius: 25px;
  border: none;
  width: 52px;
  height: 52px;
  margin: 10px 0;
}

button.nota:hover {
  background-color: #959eac;
  color: hsl(0, 0%, 100%);
}

button#submit {
  background-color: #fb7413;
  border-radius: 25px;
  border: none;
  padding: 12px;
  width: 100%;

  font-size: 16px;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin: 15px 0px 0px 0px;
  letter-spacing: 2.5px;
}

button#submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}
