/* Estilos globais */

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* 
caso o link acima não funcione, use essas classes abaixo:
@font-face {
  font-family: "Overpass";
  src: url("fonts/Overpass-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Overpass-regular";
  src: url("fonts/Overpass-Regular.ttf") format("truetype");
} 
*/

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Overpass", sans-serif;
}

html{
  min-height: 500px;
}

body {
  background-color: hsl(216, 12%, 8%);
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

h2 {
  /* font-family: "Overpass-regular"; <- descomente, se necessário.*/
  margin: 5px 0;
}

p {
  font-size: 15px;
  line-height: 1.5;
  color: hsl(217, 12%, 63%);
  width: 100%;
  margin: 15px 15px 15px 0px;
}

div.icone-estrela img{
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(37, 45, 55, 0.15);
}

footer.attribution {
  font-size: 11px;
  text-align: center;
}
footer.attribution a {
  color: hsl(228, 45%, 44%);
}